{% extends "base.html.twig" %}


{% block body %}

<div class="container mt-5 ">
    <div class=" border media-groups ">
        <div class="media-left col-3">

        </div>
        <div class="media-center col-3"></div>
        
        <div class="media-right text-right col-6 ">
          <h5 class="mt-0 game-title media-text p-3">My Gamo'Teck</h5>
          <p class="media-text p-3">
          	Le site "Gamo'Teck" vous propose de tenir a jour votre bibliothèque de jeux-vidéo en ajoutant chaque jeux a votre espace. Fini les oublie ! Fini les jeux qui restent injoués pendant des années. Un listing en fonction des plate-formes mais, aussi en fonction des catégories de jeux
          </p>.
        </div>
      </div>
</div>

<div class="container mt-5">
    <div class="registration-groups  d-flex justify-content-center">
        <div class="registration-link d-flex justify-content-center">
            <a href="{{ path('app_register') }}" class="game-title" >S'incrire </a>
        </div>
        <span class="game-title" > / </span>
        <div class="login-link d-flex justify-content-center">
            <a href=" {{ path('app_login') }} " class="game-title" >Se connecter</a>
        </div>
        
</div>

{% endblock %}