{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

<div class="container">

    
    <div class="media mt-5 border p-2">
        <img src=" https://via.placeholder.com/100x150 " class="mr-3" alt="...">
        <div class="media-body">
            <h2 class="mt-5  machine game-title">{{ game.title }}</h2>
            {{ game.description }}
        </div>
    </div>
    
    <h3 class="game-title mt-4 mb-2 ">Support :</h3>
    
    <ul class="list-group  "> 
    {% for support in game.supports %}
        <li class="list-group-item "> {{ support.name }} </li>
    {% endfor %}
    </ul>

</div>
{% endblock %}
